<% @sports.each do |sport| %>
        <%= link_to 'Show', sport %>
        <%= link_to 'Edit', edit_sport_path(sport) %></td>
        <%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>