<p id="notice"><%= notice %></p>
<table class="table table-hover" border="1" id="ajax-table">
  <thead>
    <tr>
      <th>Sport name</th>
      <th>No of Players</th>
    </tr>
  </thead>

  
</table>

<br>
<%= render 'showsport' %>
<%# <% if current_user.admin?  %> 
<%= link_to 'New Sport', new_sport_path %>
<%# <% end %>

<%# <%= link_to 'Show', show_sports %>