
<h1>Editing Achievement</h1>
 <% if  current_user == @achievement.user  || current_user.admin?  %>
<%= render 'form', achievement: @achievement %>
<% else %>
  <h2>"You are not authorized to edit this player's achievement".</h2>
 <% end %>

<%= link_to 'Show', @achievement %> |
<%= link_to 'Back', achievements_path %>
